<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mp.music" >

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 系统权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.ChallengeActivity"></activity>
        <activity android:name=".activity.ChallengedActivity"></activity>
        <activity android:name=".activity.GuessActivity"></activity>
        <activity android:name=".activity.DoodleActivity"></activity>
        <activity android:name=".activity.PostChallenge"></activity>
        <activity android:name=".activity.MusicTagsListActivity"></activity>
        <activity android:name=".activity.TalkListActivity"></activity>
        <activity android:name=".activity.TalkDetailActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RegisterActivity"></activity>
        <activity android:name=".activity.AboutActivity"></activity>
        <activity android:name=".activity.EditPasswordActivity"></activity>
        <activity android:name=".activity.LevelActivity"></activity>
        <activity android:name=".activity.SettingActivity"></activity>

        <service
            android:name=".service.OnLinePlayService" ></service>
        <service
            android:name=".service.DownloadService" ></service>
    </application>
</manifest>
